<div class="question-box">
  <h2>Your question</h2>

  <p><%= @question  %></p>
</div>

<div class="answer-box">
  <h2>Coaches answer</h2>
  <p><%= @coach_answer %></p>
</div>

<div class="ask-another">
<h3><%= link_to "Ask another question", ask_path %></h3>
</div>
